{% extends "layout.html" %}
{% block body %}

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ url_for('home') }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">API Documentation</li>
        </ol>

        <!-- Page Content -->
        <div class="row">
            <div class="col-md-12">
                <h1>API Documentation</h1>
            </div>
        </div>        
        <hr>
          
        <div class="col-xl-4 col-sm-6 mb-3">
            <div class="card text-dark bg-light o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-laptop-code"></i>
                </div>
                    <div class="mr-5"><h4>Device API</h4></div>
                    <div style="padding-left: 20px">{URL}:{PORT}/devicesApi</div>
              </div>
              <div class="card-footer text-dark clearfix small z-1">
                <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#getDevice" aria-expanded="false" aria-controls="collapseExample">
                    GET
                </button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#putDevice" aria-expanded="false" aria-controls="collapseExample">
                    PUT
                </button>
                <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#postDevice" aria-expanded="false" aria-controls="collapseExample" style="color: white">
                    POST
                </button>
                <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#deleteDevice" aria-expanded="false" aria-controls="collapseExample">
                    DELETE
                </button>
              </div>
                <!-- Collapsable Menu Items -->
                <div class="collapse" id="getDevice">
                  <div class="card card-body"> 
                      This request retrieves the list of all devices in the Database
                      <div class="dropdown-divider"></div>
                      <p>REQUEST - GET: localhost:8090/devicesApi</p>
                      <p>RESPONSE - </p>
                      <table>
                          <tr><td>{</td></tr>
                          <tr><td style="padding-left: 20px">"devices": [</td></tr>
                          <tr><td style="padding-left: 20px">{</td></tr>
                          <tr><td style="padding-left: 25px">"id": 1,</td></tr>
                          <tr><td style="padding-left: 25px">"ip_address": "192.168.0.1",</td></tr>
                          <tr><td style="padding-left: 25px">"last_watered": "01:00",</td></tr>
                          <tr><td style="padding-left: 25px">"name": "Kyle Pi",</td></tr>
                          <tr><td style="padding-left: 25px">"restart_time": "01:00"</td></tr>
                          <tr><td style="padding-left: 20px">},</td></tr>
                          <tr><td style="padding-left: 25px">{</td></tr>
                          <tr><td style="padding-left: 25px">"id": 2,</td></tr>
                          <tr><td style="padding-left: 25px">"ip_address": "172.168.0.1",</td></tr>
                          <tr><td style="padding-left: 25px">"last_watered": "10:10",</td></tr>
                          <tr><td style="padding-left: 25px"d>"name": "API Demo Device",</td></tr>
                          <tr><td style="padding-left: 25px">"restart_time": "10:10AM"</td></tr>
                          <tr><td style="padding-left: 20px">} ]</td></tr>
                          <tr><td>}</td></tr>
                      </table>
                  </div>
                </div>
                <div class="collapse" id="putDevice">
                  <div class="card card-body">
                    This request updates the device based on ID
                    <div class="dropdown-divider"></div>
                      <p>REQUEST - PUT: localhost:8090/devicesApi/1</p>
                      <p>RESPONSE - </p>
                      <table>
                          <tr><td>{</td></tr>
                          <tr><td style="padding-left: 20px">"devices": [</td></tr>
                          <tr><td style="padding-left: 20px">{</td></tr>
                          <tr><td style="padding-left: 25px">"id": 1,</td></tr>
                          <tr><td style="padding-left: 25px">"ip_address": "192.168.0.1",</td></tr>
                          <tr><td style="padding-left: 25px">"last_watered": "01:00",</td></tr>
                          <tr><td style="padding-left: 25px">"name": "Kyle Pi",</td></tr>
                          <tr><td style="padding-left: 25px">"restart_time": "01:00"</td></tr>
                          <tr><td style="padding-left: 20px">} ]</td></tr>
                          <tr><td>}</td></tr>
                      </table>
                  </div>
                </div>
                <div class="collapse" id="postDevice">
                  <div class="card card-body" >
                      This request updates the device based on ID
                      <div class="dropdown-divider"></div>
                      <p>REQUEST - POST: localhost:8090/devicesApi/1</p>
                      <p>RESPONSE - </p>
                      <table>
                          <tr><td>{</td></tr>
                          <tr><td style="padding-left: 20px">"devices": [</td></tr>
                          <tr><td style="padding-left: 20px">{</td></tr>
                          <tr><td style="padding-left: 25px">"id": 1,</td></tr>
                          <tr><td style="padding-left: 25px">"ip_address": "192.168.0.1",</td></tr>
                          <tr><td style="padding-left: 25px">"last_watered": "01:00",</td></tr>
                          <tr><td style="padding-left: 25px">"name": "Kyle Pi",</td></tr>
                          <tr><td style="padding-left: 25px">"restart_time": "01:00"</td></tr>
                          <tr><td style="padding-left: 20px">} ]</td></tr>
                          <tr><td>}</td></tr>
                      </table>
                  </div>
                </div>
                <div class="collapse" id="deleteDevice">
                  <div class="card card-body">
                      This request deletes the device based on ID
                      <div class="dropdown-divider"></div>
                      <p>REQUEST - DELETE: localhost:8090/devicesApi/1</p>
                      <p>RESPONSE - </p>
                      <table>
                          <tr><td>Removed device with ID 1</td></tr>
                      </table>
                  </div>
                </div>
            </div>
        </div>
                              
        <div class="col-xl-4 col-sm-6 mb-3">
            <div class="card text-dark bg-light o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-tree"></i>
                </div>
                  <div class="mr-5"><h4>Plant API</h4></div>
                  <div style="padding-left: 20px">{URL}:{PORT}/plantsApi</div>
              </div>
              <div class="card-footer text-dark clearfix small z-1">
                <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#getPlant" aria-expanded="false" aria-controls="collapseExample">
                    GET
                </button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#putPlant" aria-expanded="false" aria-controls="collapseExample">
                    PUT
                </button>
                <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#postPlant" aria-expanded="false" aria-controls="collapseExample" style="color: white">
                    POST
                </button>
                <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#deletePlant" aria-expanded="false" aria-controls="collapseExample">
                    DELETE
                </button>
              </div>
                <!-- Collapsable Menu Items -->
                <div class="collapse" id="getPlant">
                  <div class="card card-body">
                      This request retrieves the list of all plants in the Database
                      <div class="dropdown-divider"></div>
                      <p>REQUEST - GET: localhost:8090/plantsApi</p>
                      <p>RESPONSE - </p>
                      <table>
                          <tr><td>{</td></tr>
                          <tr><td style="padding-left: 20px">"plants": [</td></tr>
                          <tr><td style="padding-left: 20px">{</td></tr>
                          <tr><td style="padding-left: 25px">"id": 1,</td></tr>
                          <tr><td style="padding-left: 25px">"name": "192.168.0.1",</td></tr>
                          <tr><td style="padding-left: 25px">"water_needed": "01:00",</td></tr>
                          <tr><td style="padding-left: 25px">"last_watered": "Kyle Pi",</td></tr>
                          <tr><td style="padding-left: 25px">"plant_type": "01:00"</td></tr>
                          <tr><td style="padding-left: 25px">"device_id": "Kyle's Pi"</td></tr>
                          <tr><td style="padding-left: 20px">},</td></tr>
                          <tr><td style="padding-left: 25px">{</td></tr>
                          <tr><td style="padding-left: 25px">"id": 2,</td></tr>
                          <tr><td style="padding-left: 25px">"name": "192.168.0.1",</td></tr>
                          <tr><td style="padding-left: 25px">"water_needed": "01:00",</td></tr>
                          <tr><td style="padding-left: 25px">"last_watered": "Kyle Pi",</td></tr>
                          <tr><td style="padding-left: 25px">"plant_type": "01:00"</td></tr>
                          <tr><td style="padding-left: 25px">"device_id": "Kyle's Pi 2"</td></tr>
                          <tr><td style="padding-left: 20px">} ]</td></tr>
                          <tr><td>}</td></tr>
                      </table>
                  </div>
                </div>
                <div class="collapse" id="putPlant">
                  <div class="card card-body">
                      This request updates the device based on ID
                      <div class="dropdown-divider"></div>
                      <p>REQUEST - PUT: localhost:8090/plantsApi/1</p>
                      <p>RESPONSE - </p>
                      <table>
                          <tr><td>{</td></tr>
                          <tr><td style="padding-left: 20px">"devices": [</td></tr>
                          <tr><td style="padding-left: 20px">{</td></tr>
                          <tr><td style="padding-left: 25px">"id": 1,</td></tr>
                          <tr><td style="padding-left: 25px">"name": "192.168.0.1",</td></tr>
                          <tr><td style="padding-left: 25px">"water_needed": "01:00",</td></tr>
                          <tr><td style="padding-left: 25px">"last_watered": "Kyle Pi",</td></tr>
                          <tr><td style="padding-left: 25px">"plant_type": "01:00"</td></tr>
                          <tr><td style="padding-left: 25px">"device_id": "Kyle's Pi"</td></tr>
                          <tr><td style="padding-left: 20px">} ]</td></tr>
                          <tr><td>}</td></tr>
                      </table>
                  </div>
                  </div>
                </div>
                <div class="collapse" id="postPlant">
                  <div class="card card-body">
                      This request updates the device based on ID
                      <div class="dropdown-divider"></div>
                      <p>REQUEST - POST: localhost:8090/plantsApi/1</p>
                      <p>RESPONSE - </p>
                      <table>
                          <tr><td>{</td></tr>
                          <tr><td style="padding-left: 20px">"devices": [</td></tr>
                          <tr><td style="padding-left: 20px">{</td></tr>
                          <tr><td style="padding-left: 25px">"id": 1,</td></tr>
                          <tr><td style="padding-left: 25px">"name": "192.168.0.1",</td></tr>
                          <tr><td style="padding-left: 25px">"water_needed": "01:00",</td></tr>
                          <tr><td style="padding-left: 25px">"last_watered": "Kyle Pi",</td></tr>
                          <tr><td style="padding-left: 25px">"plant_type": "01:00"</td></tr>
                          <tr><td style="padding-left: 25px">"device_id": "Kyle's Pi"</td></tr>
                          <tr><td style="padding-left: 20px">} ]</td></tr>
                          <tr><td>}</td></tr>
                      </table>
                  </div>
                </div>
                <div class="collapse" id="deletePlant">
                  <div class="card card-body">
                      This request deletes the device based on ID
                      <div class="dropdown-divider"></div>
                      <p>REQUEST - DELETE: localhost:8090/plantsApi/1</p>
                      <p>RESPONSE - </p>
                      <table>
                          <tr><td>Removed plant with ID 1</td></tr>
                      </table>
                  </div>
                </div>
            </div>
      </div>


      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Advanced Water Control Web Application 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

{% endblock %}