{% extends "layout.html" %}
{% block body %}

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ url_for('home') }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
              <a href="{{ url_for('plant_configuration') }}">Plant Configuration</a>
          </li>
          <li class="breadcrumb-item active">Edit Plant</li>
        </ol>
        <h3 >Edit Plant </h3>

            <form action="{{ url_for('editPlant',plant_id = plant.id)}}" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                   <input type="text" maxlength="100" name="name" placeholder="Current Plant Name: {{plant.name}}">

                   <label for="author">Water Needed:</label>
                   <input maxlength="100" name="water_needed" placeholder="Current Amt of Water Needed: {{plant.water_needed}}">

                   <label for="last_watered">Last Watered:</label>
                   <input maxlength="100" name="last_watered" placeholder="Current Last Watered: {{plant.last_watered}}">

                   <label for="plant_type">Plant Type:</label>
                   <input maxlength="100" name="plant_type" placeholder="Current Plant Type: {{plant.plant_type}}">

                   <label for="device_id">Device Id:</label>
                   <input maxlength="100" name="device_id" placeholder="Current Device: {{plant.device_id}}">

                   <button type="submit">Update Plant</button>
                    <a href='{{url_for('plant_configuration')}}'>
                        <button>Cancel</button>
                    </a>
                </div>
            </form>
    <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Advanced Water Control Web Application 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

{% endblock %}