{% extends "layout.html" %}
{% block body %}

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ url_for('home') }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{{ url_for('plant_configuration') }}">Plant Configuration</a>
          </li>
          <li class="breadcrumb-item active">New Plant</li>
        </ol>
        <h3 >Plant Configuration Data Table </h3>
 
            <form action="#" method="post">
               <div class="form-group">
                   <label for="name">Name:</label>
                   <input type="text" maxlength="100" name="name" placeholder="Name of the Plant">

                   <label for="author">Water Needed:</label>
                   <input maxlength="100" name="water_needed" placeholder="Amount of Water Needed">

                   <label for="last_watered">Last Watered:</label>
                   <input maxlength="100" name="last_watered" placeholder="Last Watered">

                   <label for="plant_type">Plant Type:</label>
                   <input maxlength="100" name="plant_type" placeholder="Plant Type">

                   <label for="device_id">Device Id:</label>
                   <input maxlength="100" name="device_id" placeholder="Raspberry Pi Device Id">

                   <button type="submit">Create New Plant</button>
               </div>
            </form>
          
    <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Advanced Water Control Web Application 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

{% endblock %}