{% extends "layout.html" %}
{% block body %}

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ url_for('home') }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Plant Configuration</li>
        </ol>
        <h3 >Plant Configuration Data Table </h3>

      <div class="row">
                <div class="col-md-auto water_content" style="text-align: left ; padding-left: 50px">
                    <p>Add a New Plant:</p>
                </div>
                <div class="col-md-auto">
                    <p>
                        <button class="btn btn-secondary" >
                            <a href="{{ url_for('newPlant') }}" style="color:white; text-decoration:none"> New Plant </a>
                        </button></p>
                    <p>{{text}}</p>
                </div>
      </div>

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
                Plant Configurations
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Plant Id</th>
                    <th>Plant Name</th>
                    <th>Water Needed</th>
                    <th>Last Watered</th>
                    <th>Plant Type</th>
                    <th>Device Id</th>
                    <th>Edit/Delete</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Plant Id</th>
                    <th>Plant Name</th>
                    <th>Water Needed</th>
                    <th>Last Watered</th>
                    <th>Plant Type</th>
                    <th>Device Id</th>
                    <th>Edit/Delete</th>
                  </tr>
                </tfoot>
                <tbody>
                     {% for plant in plants %}
                      <tr>
                        <td>{{plant.id}}</td>
                        <td>{{plant.name}}</td>
                        <td>{{plant.water_needed}}</td>
                        <td>{{plant.last_watered}}</td>
                        <td>{{plant.plant_type}}</td>
                        <td>{{plant.device_id}}</td>
                        <td>
                            <a href="{{url_for('editPlant', plant_id = plant.id )}}">Edit</a>
                            <a href="{{url_for('deletePlant', plant_id = plant.id )}}" style="margin-left: 10px;">Delete</a>
                        </td>
                      </tr>
                     {% endfor %}
                 </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

      </div>
         
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Advanced Water Control Web Application 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

{% endblock %}