{% extends "layout.html" %}
{% block body %}

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ url_for('home') }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Server Status</li>
        </ol>

        <!-- Page Content -->
        <div class="row">
            <div class="col-md-12">
                <h1>Server Status</h1>
            </div>
        </div>        
        <hr>
          
        <div class="col-xl-4 col-sm-6 mb-3">
            <div class="card text-dark bg-light o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-check-circle"></i>
                </div>
                <div class="mr-5">Server Status:</div>
              </div>
              <div class="card-footer text-dark clearfix small z-1">
                <span class="float-left bg-success" style="color:white; padding: 10px">Operational</span>
              </div>
            </div>
      </div>
                              
        <div class="col-xl-4 col-sm-6 mb-3">
            <div class="card text-dark bg-light o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-server"></i>
                </div>
                <div class="mr-5">The Current timestamp on this server:</div>
              </div>
              <div class="card-footer text-dark clearfix small z-1">
                <span class="float-left bg-info" style="color:white; padding: 10px">{{time}}</span>
              </div>
            </div>
      </div>
          
      <div class="col-xl-4 col-sm-6 mb-3">
            <div class="card text-dark bg-light o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-plug"></i>
                </div>
                <div class="mr-5">Last time the Server was restarted:</div>
              </div>
              <div class="card-footer text-dark clearfix small z-1">
                <span class="float-left bg-warning" style="color:white; padding: 10px">ADD RESTART TIME {{ restart_time }}</span>
              </div>
            </div>
      </div>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Advanced Water Control Web Application 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

{% endblock %}