{% extends "layout.html" %}
{% block body %}

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ url_for('home') }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
              <a href="{{ url_for('plant_configuration') }}">Plant Configuration</a>
          </li>
          <li class="breadcrumb-item active">Edit Plant</li>
        </ol>
        <h3 >Edit Plant</h3>

          <table class="table table-bordered"  width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Plant Id</th>
                    <th>Plant Name</th>
                    <th>Water Needed</th>
                    <th>Last Watered</th>
                    <th>Plant Type</th>
                    <th>Device Id</th>
                  </tr>
                </thead>
                <tbody>
                      <tr>
                        <td>{{plant.id}}</td>
                        <td>{{plant.name}}</td>
                        <td>{{plant.water_needed}}</td>
                        <td>{{plant.last_watered}}</td>
                        <td>{{plant.plant_type}}</td>
                        <td>{{plant.device_id}}</td>
                      </tr>
                 </tbody>
              </table>

            <form class="form-horizontal" action="#" method="post">
              <div class="form-group">
                  <label class="control-label col-sm-2" for="name">Name:</label>
                  <div class="col-md-4 col-sm-10">
                      <input class="form-control" type="text" maxlength="100" id="name" name="name" placeholder="Name of the Plant">
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-2" for="author">Water Needed (in Inches):</label>
                  <div class="col-md-4 col-sm-10">
                      <input class="form-control" maxlength="100" name="water_needed" placeholder="Amount of Water Needed (in inches)">
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-sm-2" for="last_watered">Last Watered:</label>
                  <div class="col-md-4 col-sm-10">
                    <input class="form-control" maxlength="100" name="last_watered" type="date" placeholder="Last Watered">
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-sm-2" for="plant_type">Plant Type:</label>
                  <div class="col-md-4 col-sm-10">
                       <select class="form-control" name="plant_type">
                            <option>Grass</option>
                            <option>Tree</option>
                            <option>Flower</option>
                            <option>Other</option>
                       </select>
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-sm-2" for="device_id">Device Id:</label>
                  <div class="col-md-4 col-sm-10">
                      {% for device in devices %}
                      <select class="form-control" name="device_id">
                            <option>{{device.name}}</option>
                       </select>
                      {% endfor %}
                  </div>
              </div>

              <div class="col-md-4">
                <button type="submit" class="btn btn-success">Update Plant</button>
                <a href="{{ url_for('plant_configuration') }}"><button type="button" class="btn btn-danger">Cancel</button></a>
              </div>
          </form>

    <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Advanced Water Control Web Application 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

{% endblock %}