{% extends "layout.html" %}
{% block body %}

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ url_for('home') }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{{ url_for('plant_configuration') }}">Plant Configuration</a>
          </li>
          <li class="breadcrumb-item active">New Plant</li>
        </ol>
        <h3 >Add a New Plant</h3>

          <form class="form-horizontal" action="#" method="post">
              <div class="form-group">
                  <label class="control-label col-sm-2" for="name">Name:</label>
                  <div class="col-md-4 col-sm-10">
                      <input class="form-control" type="text" maxlength="100" id="name" name="name" placeholder="Name of the Plant" required>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-2" for="author">Water Needed (in Inches):</label>
                  <div class="col-md-4 col-sm-10">
                      <input class="form-control" maxlength="100" name="water_needed" placeholder="Amount of Water Needed (in inches)" required>
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-sm-2" for="last_watered" >Last Watered:</label>
                  <div class="col-md-4 col-sm-10">
                    <input class="form-control" maxlength="100" name="last_watered" type="date" placeholder="Last Watered" required>
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-sm-2" for="plant_type">Plant Type:</label>
                  <div class="col-md-4 col-sm-10">
                       <select class="form-control" name="plant_type">
                            <option>Grass</option>
                            <option>Tree</option>
                            <option>Flower</option>
                            <option>Other</option>
                       </select>
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-sm-2" for="device_id">Device Id:</label>
                  <div class="col-md-4 col-sm-10">
                      {% if devices is defined and devices|length > 0 %}

                          <select class="form-control" name="device_id">
                              {% for device in devices %}
                                <option>{{device.name}}</option>
                              {% endfor %}
                           </select>

                      {% else %}
                         <a href="{{ url_for('newDevice') }}"><button type="button" class="btn btn-info">Add New Device</button></a>
                      {% endif %}
                  </div>
              </div>

              <div class="col-md-4">
                <button type="submit" class="btn btn-success">Create New Plant</button>
                <a href="{{ url_for('plant_configuration') }}"><button type="button" class="btn btn-danger">Cancel</button></a>
              </div>
          </form>
          
    <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Advanced Water Control Web Application 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

{% endblock %}