{% extends "layout.html" %}
{% block body %}

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ url_for('home') }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Plant Configuration</li>
        </ol>
        <h3 >Plant Configuration</h3>

      <div class="row">
          <div class="col-xl-4 col-sm-6 mb-3">
            <div class="card text-dark bg-light o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-tree"></i>
                </div>
                <div style="font-size: large">Add a New Plant:</div>
              </div>
              <div class="card-footer text-dark clearfix small z-1">
                    <a href="{{ url_for('newPlant') }}" style="color:white; text-decoration:none"> <button class="btn btn-success" >New Plant</button></a>
              </div>
            </div>
        </div>
      </div>

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
                Plant Configurations
              <a href="{{ url_for('newPlant') }}" style="float:right; color:white; text-decoration:none"> <button class="btn btn-success" ><i class="fas fa-plus"></i></button></a>
              <button class="btn btn-secondary" style="float:right; margin-right: 20px" onclick="exportTableToCSV('plants.csv')">Export To CSV</button>

          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Plant Id</th>
                    <th>Plant Name</th>
                    <th>Water Needed</th>
                    <th>Last Watered</th>
                    <th>Plant Type</th>
                    <th>Device Id</th>
                    <th>Edit/Delete</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Plant Id</th>
                    <th>Plant Name</th>
                    <th>Water Needed</th>
                    <th>Last Watered</th>
                    <th>Plant Type</th>
                    <th>Device Id</th>
                    <th>Edit/Delete</th>
                  </tr>
                </tfoot>
                <tbody>
                     {% for plant in plants %}
                      <tr>
                        <td>{{plant.id}}</td>
                        <td>{{plant.name}}</td>
                        <td>{{plant.water_needed}}</td>
                        <td>{{plant.last_watered}}</td>
                        <td>{{plant.plant_type}}</td>
                        <td>{{plant.device_id}}</td>
                        <td>
                            <a href="{{url_for('editPlant', plant_id = plant.id )}}"><button class="btn btn-primary">Edit</button></a>
                            <a href="{{url_for('deletePlant', plant_id = plant.id )}}" style="margin-left: 10px;"><button class="btn btn-danger">Delete</button></a>
                        </td>
                      </tr>
                     {% endfor %}
                 </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated at {{time}}</div>
        </div>

      </div>
         
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Advanced Water Control Web Application 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

<script>
    function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
    
function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}
</script>

{% endblock %}